body {
    font-size: 18px;
    padding: 0;
    background-color: #262626;
    padding-top: 8rem;
    color: #bbbbbb;
}

.blogHeader {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    background: rgb(0,98,66);
    background: linear-gradient(150deg, rgba(0,98,66,1) 0%, rgba(70,198,0,1) 50%, rgba(254,255,0,1) 100%);
}

.blogHeader h1 {
    margin: 0;
    padding: 0.75em;
    font-family: sans-serif;
    font-style: italic;
    color: white;
    text-shadow: 0px 1px yellowgreen, 0px 3px darkgreen;
    font-weight: normal;
}

.blogPost {
    max-width: 650px;
    line-height: 1.75;
    font-family: sans-serif;
    padding: 0.5em;
    margin: 0 auto;
}

.blogPost h1 {
    color: white;
    font-family: sans-serif;
}